
body 
{
    font-family: Verdana;
}

h1, h2, h3 
{
    color: darkblue;
}

.rating-circle 
{
    height: 2em;
    width: 2em;
    border: .1em solid black;
    border-radius: 1.1em;
    display: inline-block;
    margin: 0;
    padding: .1em;
}

.rating-hover 
{
    background-color: yellow;
}

.rating-chosen 
{
    background-color: green;
}

button 
{
    box-shadow:inset 0px 1px 0px 0px darkblue;
    background-color:darkblue;
    border-radius:3px;
    border:1px solid darkblue;
    display:inline-block;
    cursor:pointer;
    color:whitesmoke;
    font-family: Verdana;
    font-size:15px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px darkblue;
}

button:hover 
{
    background:linear-gradient(to bottom, darkblue 5%, darkblue 100%);
    background-color:darkblue;
}

button:active 
{
    position:relative;
    top:1px;
}
